*
{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body
{
    margin: 0;
}

:root
{
    --color-primary-lighted: #b19ce7;
    --color-primary: #A288E3;
    --color-primary-darked: #8d6ce0;
    --color-secondary-lighted: #461436;
    --color-secondary: #2D0320;
    --color-secondary-darked: #25001a;
    --color-succes-lighted: #a1fce1;
    --color-succes: #1EFFBC;
    --color-succes-darked: #10dfa1;
    --color-info-lighted: #c1fafa;
    --color-info: #97f9f9;
    --color-info-darked: #69d6d6;
    --color-warning-lighted: #fff0ac;
    --color-warning: #FFE156;
    --color-warning-darked: #eecc33;
    --color-danger-lighted: #e77b82;
    --color-danger: #EF626C;
    --color-danger-darked: #e7434e;
    --color-light: #F6E8EA;
    --color-light-darked: #f1c1c8;
    --color-dark: #4A5759;
    --color-dark-darked: #313a3b;
    --border-color: #dee2e6;

    --container-padding: 1em

    --size-1: 0.25em;
    --size-2: 0.5em;
    --size-3: 1em;
    --size-4: 1.5em;
    --size-5: 3em;
}